<div ng-controller="searchCtrl">
	<h3>Find an Employee</h3>
	<form kendo-validator="validator" novalidate class="k-form" name="searchForm">
		<li>
			<label>
                <span>
                    Name 
                </span>			
				<input type="text" ng-model="name" name="name" class="k-textbox search-query">
            </label>
		</li>
		<li>
            <label class="required">
                <span>
                    Department 
                    <span class="k-required">*</span>
                </span>
                <select 
                    kendo-drop-down-list 
                    name="department" 
                    k-ng-model="department"
                    required 
                    data-required-msg="Select Department">
                    <option value="" style="display: none"></option>
                    <option value="Sales">Sales</option>
                    <option value="Accounting">Accounting</option>
                    <option value="Design">Design</option>
                    <option value="Engineering">Engineering</option>
                </select>
            </label>
        </li> 
	        <span class="input-group-btn">
	            <button type="submit" ng-click="geValues(name, department)" class="btn">Submit</button>
                <a ng-click="resetValues(searchForm.name, searchForm.department)" class="btn">Reset</a>
	        </span>
	    </form>
        <h3 ng-show='hasResult'>Search Results</h3>
        <table class="emResult">
            <tbody id="searchResults">
                <tr ng-repeat="list in searchRes">
                    <td>{{list.code}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.department}}</td>
                    <td>{{list.birthday}}</td>
                    <td>{{list.gender}}</td>
                </tr>
            </tbody>
        </table>

</div>

<div ng-controller="gridCtrl">
	<h3>All Employees</h3>
	<div kendo-grid k-options="mainGridOptions" id="grid"></div>
</div>
